In [2]:
import time
from datetime import date, timedelta
import matplotlib as plt
import pandas as pd
import numpy as np
#import yfinance as yf
import finnhub

In [ ]:
#f = open('symbols.txt')
f = open('S+P_Symbols.txt')
symbols = f.read().split(',')
f.close()
print(len(symbols))

In [ ]:
date = np.array([],dtype='datetime64')
symbol = np.array([],dtype='object')
close = np.array([])

In [ ]:
finnhub_client = finnhub.Client(api_key="c3o7claad3ia07uemr30")

In [ ]:
for i in range(len(symbols)):
    #stock = yf.Ticker(symbols[i])
    #hist = stock.history(period='5y')['Close']
    
    res = finnhub_client.stock_candles(symbols[i], 'D', start, now)
    hist = pd.DataFrame(res)
    
    
    
    #print(i,'/',len(symbols))
    
    #dates = hist.index.to_series().to_numpy(dtype='datetime64')
    deltas = pd.Series(pd.to_timedelta((hist.t / 86400).astype(int),unit='days'))
    dates = pd.Series(pd.Timestamp('1970-01-01')).repeat(len(deltas)).reset_index()[0] + deltas
    dates = dates.values.astype('datetime64[D]')
    
    date = np.concatenate([date,dates])
    
    l = len(dates)
    symbol = np.concatenate([symbol,np.array(l*[symbols[i]])])
    
    close = np.concatenate([close,hist.c.to_numpy()])
    
    time.sleep(1.0)

In [131]:
records = pd.DataFrame({'Date':date,'Symbol':symbol,'Closing Price':close})
records = records.drop_duplicates()
records.Symbol.value_counts()

APD      1258
BK       1258
NOW      1258
SCHW     1258
LUMN     1258
         ...
OTIS      334
ZION      150
SBAC      150
DISCK     150
OGN        30
Name: Symbol, Length: 505, dtype: int64

In [132]:
accept = records.Symbol.value_counts() == records.Symbol.value_counts().mode()[0]

records = records.loc[records.Symbol.isin(accept.loc[accept].index)]
records

             Date Symbol  Closing Price
0      2016-07-18    MMM        181.110
1      2016-07-19    MMM        181.240
2      2016-07-20    MMM        181.420
3      2016-07-21    MMM        180.260
4      2016-07-22    MMM        180.440
...           ...    ...            ...
624030 2021-07-09    ZTS        197.500
624031 2021-07-12    ZTS        198.330
624032 2021-07-13    ZTS        199.310
624033 2021-07-14    ZTS        201.280
624034 2021-07-15    ZTS        200.545

[612646 rows x 3 columns]

In [133]:
records.to_csv('s+p_500_records.csv',index=False)